@import url('/assets/css/hack.css');
* {
	background-color: #f0f0f0;
	font-family: "Hack", monospace;
	border-radius: 4px;
}

button {
	cursor: pointer;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.logout-btn {
	color: #00aade;
}
