
.login-cage {
	margin: auto;
	margin-top: 100px;
	width: 400px;
	height: 340px;
	border: 1px solid #000;
	text-align: center;
}

.ilabel {
	margin-top: 30px;
}

.iinput {
	margin-top: 5px;
}

.isubmit {
	margin-top: 20px;
}

.ireg {
	margin-top: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
